<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPS Flask App</title>

    <style>
        body{
            background-color: grey;
        }
        h2{
            color: rgb(18, 100, 82);
            margin: 0 auto;
        }
        p{
            color: rgb(2, 2, 68);

        }

    </style>
</head>
<body>
    <h2>This is my First Flask App on VPS droplet of Digital Ocean.</h2>
    <p> This is First Flask app on my Gunicorn app-server running on Nginx reversed proxy server</p>
    
    
</body>
</html>