<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPS Flask App</title>

    <style>
        body{
            background-color: grey;
        }
        h1{
            color: rgb(18, 100, 82);
            margin: 0 auto;
        }
        p{
            color: rgb(230, 71, 8);

        }
        h2{
            color: greenyellow;
        }

    </style>
</head>
<body>
    <h1> My Assignment CD</h1>
    
    <p> If everything went well with setting up github Actions and workflows, then i should see this change!! </p>
    
    <h2> IF THIS IS CHANGED Im done with this assignment 🎉🎉🎉🎉🎉🎉🎉🎉</h2>
    
</body>
</html>